/*
    font-family: 'Hind', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

html, body {
	overflow-x: hidden;
}

body {	
    color: #656565;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
	font-family: 'Hind', sans-serif;
}

p {

    font-weight: 400;
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000f29;
    font-family: 'Hind', sans-serif;
    font-style: normal;
	margin-bottom: 0;
	margin-top: 11px;
    line-height: 1.2;	
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s;
	font-size:36px;
}
h1{
}
h2{}
h3{}
h4{}
h5{}
h6{}
a{
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
a{
	 color: #43baff;
}
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}
a:focus,
a:hover {
    text-decoration: none;
    text-decoration: none;	
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    -webkit-transition: .5s;
    transition: .5s;
}
h1 {
    font-size:50px;
}
h2 {
    font-size: 35px;
	
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
  
}

ul {
    margin: 0;

    padding: 0;
}
li {
 
}
input:focus,
button:focus
{
	border-color:transparent;
	outline-color:transparent;
}
textarea:focus{
	border-color:transparent;
	outline-color:transparent;
}
label {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

a,i, cite, em, var, address, dfn,ol,li,ul{
	font-style:normal;
	font-weight:400;
}

*::-moz-selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}
::-moz-selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}
::selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}

::placeholder {
    color: #fff;
    font-size: 16px;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    
    color: #fff;
}
::-moz-placeholder {
    /* Firefox 19+ */    
    color: #fff;
}
:-ms-input-placeholder {
    /* IE 10+ */
    
    color: #fff;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #fff;
}
